

<div>
<% reports.forEach(function(r) { %>

        <td><%= r.movie %></td>
        <td><%= r.content %></td>
        <td><%= r.rating %></td>
        <td><%= r.userReporting %></td>
    
<% }); %>

</div>

</main>
</body>
</html>