<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link href="https://css.gg/search.css" rel="stylesheet" />
  <script defer src="/javascripts/main.js"></script>
  <title>Hive Mind</title>
</head>

<body>
  <nav>
    <a href="/"><h1 class="brand-logo left">Hive Mind</h1></a>

    <div class="search-container">
      <form method="GET" action="/search">
        <input type="text" placeholder="Search for Sci-Fis" name="search" required>
        <button type="submit"><i class="gg-search"></i></button>
      </form>
    </div>

    <div id="login-links">
      <% if (user) { %>
      <div id="user">
        <a href="/users/<%= user.id %>">
          <img src="<%= user.avatar %>" class="user-avatar" />
          <span><%= user.name %></span>
        </a>
        <a href="/logout">Log Out</a>
      </div>
      <% } else { %>
      <div id="auth">
        <a href="/login">Login</a>
        <a href="/register">Register</a>
      </div>
      <% } %>
    </div>
  </nav>