<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link href="https://css.gg/search.css" rel="stylesheet" />
  <script defer src="/javascripts/main.js"></script>
  <title>Hive Mind</title>
</head>

<body>
  <nav>
    <h1 class="brand-logo left">Hive Mind</h1>

    <div class="search-container">
      <form method="GET" action="/movies">
        <input type="text" placeholder="Search movie titles" name="search" required>
        <button type="submit"><i class="gg-search"></i></button>
      </form>
    </div>

    <div id="login-links">
      <% if (user) { %>
      <div id="user">
        <a href="/users/<%= user._id %>" class="user-name"><%= user.name %></a>
        <span>|</span>
        <a href="/logout">Log Out</a>
      </div>
      <% } else { %>
      <a href="/auth/google">Login with Google</a>
      <% } %>
    </div>
  </nav>