<!DOCTYPE html>
<html>
  <head>
    <title>Hive Mind</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>


  <body id="landing-page">
    <div id="welcome">
      
      <h1>Hive Mind</h1>
    <p>join us</p>

  <div id="login-links">
    <%  { %>
        <a href="/auth/google">Login with Google</a>
    <% } %>
  </div>

  </div>
  </body>


</html>
