<!DOCTYPE html>
<html>
  <head>
    <title>Hive Mind</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Hive Mind</h1>
    <p>Welcome to the hive.</p>

  <div id="login-links">
    <%  { %>
        <a href="/auth/google">Login with Google</a>
    <% } %>
  </div>
  </body>
</html>
