<% include ./partials/header %>
<main>
    this is the results page


    <div><% allResults.forEach(function(movie) { %>
        <div>
            <% if(movie.poster_path) { %>
            <img src="https://image.tmdb.org/t/p/w200/<%= movie.poster_path %>">

            <% } else {} %>

            <p><%= movie.id %></p>
            <p><%= movie.title %></p>
            <% if(movie.release_date) { %>
            <p><%= movie.release_date %></p>

            <% } else {} %>
        </div>
        <% }) %>
    </div>








</main>
</body>

</html>