@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Open+Sans&family=Jura:wght@700&display=swap');
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font: calc(.75em + 1vw) Arial;
  background-color: hsl(0, 0%, 96%);
  color: #333333;
}

:root {
  --lightgreen: #E2FAB5;
  --orange: #F0CE6D;
  --paleblue: #E6F4F3;
  --purple: #2A202B;
  --ggs: .50;
}

#landing-page {
  background-color: #0c0c0c;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#welcome {
  height: 50vh;
  width: 70vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: black;
  color: var(--lightgreen);
  text-align: center;
  box-shadow: 3px 3px 4px 3px var(--lightgreen), -3px -3px 4px 3px var(--lightgreen);
}

h1 {
  font-family: 'Audiowide', cursive;
}

a {
  text-decoration: none;
}

a:visited {
  color: #333333;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  padding-bottom: 10px;
  background-color: black;
  color: var(--lightgreen);
}

.each-report, #new-post, #user-profile {
  margin: 20px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(42, 32, 43, 0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(42, 32, 43, 0.75);
  box-shadow: 0px 0px 5px 0px rgba(42, 32, 43, 0.75);
}

.user-avatar {
  height: 25px;
  border-radius: 50%;
}

#profile-avatar {
  height: 50px;
  border-radius: 50%;
}

#new-post, .each-report {
  /* width: 400px; */
  /* justify-self: center;
  padding: 20px;
  align-self: center; */
  padding: 20px;
  /* text-align: center; */
}

#new-post input[type="text"] {
  margin: 0 5px 5px;
  border-radius: 5px;
  padding: 3px;
  /* width: 70%; */
}

#testing {
  display: flex;
  flex-direction: row;
}

.poster {
  height: 100px;
  margin-right: 5px;
}

h4 {
  margin: 0;
}

#user-info {
  font: calc(.50em + 1vw) Arial;
}

/* button, input[type="submit"] {
  background-color: #f4f4f4;
  color: #666666;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 2px 1px #d3d3d3, -1px -1px 2px 1px #ffffff;
  height: 20px;
}
.user-reporting-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.each-report>* {
  margin: 5px 5px;
}

#report-movie {
  font-size: 16px;
}

.pic-and-name {
  display: flex;
  align-items: center;
}

.user-reporting-info img {
  height: 25px;
  margin: 5px;
}

.reporter-pic {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid lightgray;
  height: 25px;
  width: 25px;
  margin: 5px;
  border-radius: 50%;
}

.user-input {
  display: flex;
  flex-direction: row;
}

.text-container {
  margin: 5px;
}

.poster {
  height: 100px;
  margin-right: 5px;
}

#user-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.options-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
}

.new-comment {
  width: 75%;
}

#comment-input {
  border-radius: 5px;
  padding: 7px;
  width: 70%;
}

.each-comment {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 25px;
  font-size: 12px;
}

.each-comment-button {
  margin-left: 10px;
}

.gg-trash, .delete {
  color: maroon;
}

#name-container a, #name-container p {
  margin: 0;
}

nav .user-name {
  color: var(--paleblue);
}

.user-name, h3, #comment-count {
  font-family: 'Jura', sans-serif;
}

#comment-count {
  color: var(--purple);
}

#name-container p {
  font-size: 12px;
}

#user-only-buttons {
  display: flex;
  flex-direction: row;
}

button {
  margin-left: 10px;
  margin-right: 10px;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

textarea {
  height: 50px;
}

#user-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  height: 150px;
}

#user-profile>* {
  padding: 10px;
} */