body {
  padding: 0;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

:root {
  --lightgreen: #E2FAB5;
  --orange: #F0CE6D;
  --paleblue:#E6F4F3;
  --purple: #2A202B;
}

h1, h2, h3, h4 {
  margin-top: 0;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;
  height: 75px;
  background-color: black;
}

nav a {
  font-weight: bold;
  text-decoration: none;
  line-height: 30px;
  color: var(--lightgreen);
}

main {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 50px;
}

#user {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20vw;
  height: 150px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(42,32,43,0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(42,32,43,0.75);
  box-shadow: 0px 0px 5px 0px rgba(42,32,43,0.75);
}

#user, #feed {
  margin: 20px;
}

#user > * {
  padding: 10px;
}

.user-avatar {
  height: 50px;
  border-radius: 50%;
}

.default-avatar {
  background-color: var(--purple);
  height: 50px;
  border-radius: 50%;
}

#feed {
  width: 70vw;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(42,32,43,0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(42,32,43,0.75);
  box-shadow: 0px 0px 5px 0px rgba(42,32,43,0.75);
}

#new-post, #all-reports {
  margin: 15px;
  border: 1px solid var(--lightgreen);
}

.each-report {
  display: flex;
  flex-direction: row;
  margin: 15px;
  justify-content: space-evenly;
  border-bottom: 1px solid var(--paleblue);
}

.text-and-options {
  width: 75%;
}

.poster {
  height: 100px;
}

.collapse {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

