@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Open+Sans&family=Jura:wght@700&display=swap');

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font: 14px Arial;
  background-color: #f4f4f4;
  color: #333333;
  font-family: 'Open Sans', sans-serif;
}

:root {
  --lightgreen: #E2FAB5;
  --orange: #F0CE6D;
  --paleblue:#E6F4F3;
  --purple: #2A202B;
  --ggs: .50;
}

#landing-page {
  background-color: #0c0c0c;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#welcome {
  height: 200px;
  width: 200px;
  background-color: black;
  color: var(--lightgreen);
  box-shadow: 3px 3px 4px 3px #000000,
  -3px -3px 4px 3px #000000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#welcome h1 {
  font-family: 'Audiowide', cursive;
  margin-bottom: 5px;
}

h1, h2, h3, h4 {
  margin-top: 0;
}

a {
  text-decoration: none;
}

a:visited {
  color: #333333;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;
  height: 50px;
  background-color: black;
  font-weight: bold;
  color: var(--lightgreen);
}

nav a {
  text-decoration: none;
  line-height: 30px;
}

nav p {
  font-family: 'Audiowide', cursive;
  font-size: 40px;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 50px;
}

button, input[type="submit"] {
  background-color: #f4f4f4;
  color: #666666;
  cursor: pointer;
  border: none;
  border-radius: 280px;
  box-shadow: 1px 1px 2px 1px #d3d3d3,
  -1px -1px 2px 1px #ffffff;
  height: 20px;
}

button:focus, input[type="submit"]:focus {
  outline: 0;
  box-shadow: inset 1px 1px 2px 1px #d3d3d3,
  inset -1px -1px 2px 1px #ffffff;
}

button:active {
  box-shadow: inset 1px 1px 2px 1px #d3d3d3,
  inset -1px -1px 2px 1px #ffffff;
}

#user {
  display: flex;
  flex-direction: row;
  align-items: center;
} 

.each-report, #new-post {
  margin: 20px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(42,32,43,0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(42,32,43,0.75);
  box-shadow: 0px 0px 5px 0px rgba(42,32,43,0.75);
}

#user > * {
  padding: 10px;
}

.user-avatar {
  height: 25px;
  border-radius: 50%;
}

#profile-avatar {
  height: 50px;
  border-radius: 50%;
}

.default-avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px  solid lightgray;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.default-avatar i {
  transform: scale(1, 1);
}

#feed, #user-lists {
  width: 750px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#all-reports, .watching {
  margin: 15px;
}

#new-post {
  width: 400px;
  justify-self: center;
  padding: 20px;
  align-self: center;
  text-align: center;
}

#new-post input[type="text"] {
  margin: 5px;
  border-radius: 5px;
  padding: 7px;
  width: 70%;
}

.each-report {
  display: flex;
  flex-direction: column;
  margin: 15px;
  border-bottom: 1px solid var(--paleblue);
  padding: 10px;
}

.user-reporting-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.each-report > * {
  margin: 5px 5px;
}

#report-movie {
  font-size: 16px;
}

.pic-and-name {
  display: flex;
  align-items: center;
}

.user-reporting-info img{
  height: 25px;
  margin: 5px;
}

.reporter-pic {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px  solid lightgray;
  height: 25px;
  width: 25px;
  margin: 5px;
  border-radius: 50%;
}

.user-input {
  display: flex;
  flex-direction: row;
}

.text-container {
  margin: 5px;
}

.poster {
  height: 100px;
  margin-right: 5px;
}

#user-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.options-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
}

.new-comment {
  width: 75%;
}

#comment-input {
  border-radius: 5px;
  padding: 7px;
  width: 70%;
}

.each-comment {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 25px;
  font-size: 12px;
}

.each-comment-button {
  margin-left: 10px;
}

.gg-trash, .delete {
  color: maroon;
}


#name-container a, #name-container p {
  margin: 0;
}

nav .user-name {
  color: var(--paleblue);
}

.user-name, h3, #comment-count {
  font-family: 'Jura', sans-serif;
}

#comment-count {
  color: var(--purple);
}

#name-container p {
  font-size: 12px;
}

#user-only-buttons {
  display: flex;
  flex-direction: row;
}

button {
  margin-left: 10px;
  margin-right: 10px;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

textarea {
  height: 50px;
}

#user-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  height: 150px;
}

#user-profile{
  margin: 20px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(42,32,43,0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(42,32,43,0.75);
  box-shadow: 0px 0px 5px 0px rgba(42,32,43,0.75);
}

#user-profile > * {
  padding: 10px;
}